@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../font/latobold.woff") format("woff"), url("..font/latobold.woff2") format("woff2");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../font/latoregular.woff") format("woff"), url("..font/latoregular.woff2") format("woff2");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #fff;
}

img {
  width: 100%;
}

.header {
  -webkit-box-shadow: 0px -5px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -5px 30px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 25px;
}

.header-top {
  background-color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 0;
  letter-spacing: 0.005em;
}

.header-top__wrap-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__link-lib {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__text {
  color: #D6D6D6;
  margin-right: 8px;
}

.header-top__text-lib {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 4px;
}

.header-top__text-eye {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #D6D6D6;
}

.header-top__text::after {
  content: '';
  margin-left: 5px;
  width: 16px;
  height: 1px;
  background-color: #C4C4C4;
  display: inline-block;
  vertical-align: middle;
}

.header-top__phone-block {
  margin-right: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__phone-number {
  text-decoration: none;
  color: #D6D6D6;
}

.header-top__phone-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__icon-block {
  margin-right: 9px;
}

.header-top__icon-phone {
  width: 14px;
  height: 15px;
  margin-right: 24px;
}

.header-top__eye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main {
  padding: 20px 0;
}

.header-main__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__search {
  margin-right: 16px;
}

.header-main__button {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  border: 1px solid #D6D6D6;
  background-color: #fff;
  padding: 0;
}

.header-main__description {
  font-family: Lato;
  width: 250px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  margin-right: 16px;
}

.header-main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 26px;
}

.search-form {
  width: 564px;
  height: 56px;
  position: relative;
  overflow: hidden;
}

.search__input {
  width: 100%;
  height: 100%;
  padding: 12px 5px 12px 56px;
  background-color: #F7F7F7;
  border-radius: 16px;
  border: none;
  outline: none;
}

.search__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.search__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.search__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.search__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.search__button {
  position: absolute;
  height: 56px;
  width: 56px;
  border: none;
  background-color: #F7F7F7;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

.magnifier {
  width: 24px;
  height: 24px;
}

.logo {
  width: 304px;
  height: 56px;
}

.icon-eye {
  margin-right: 9px;
  width: 21px;
  height: 16px;
}

.icon-history {
  width: 22px;
  height: 22px;
}

.icon-favorites {
  width: 14px;
  height: 17px;
}

.button-history {
  margin-right: 16px;
}

.button-favorites {
  margin-right: 17px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author__photo {
  width: 64px;
  height: 64px;
  margin-right: 15px;
}

.author__photo-img {
  border-radius: 50%;
}

.author__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.author__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.author__arrow {
  text-decoration: none;
  width: 24px;
  height: 24px;
}

.author__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.author__description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 8px 40px 8px 39px;
}

.nav__item {
  position: relative;
  height: 56px;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  fill: #000;
  stroke: #000;
}

.nav__item--active {
  -webkit-transition: 0.3 linear;
  transition: 0.3 linear;
  fill: #fff;
  stroke: #fff;
  background-color: #000;
  color: #fff;
  border-radius: 16px;
}

.nav__item--active.nav__item::before {
  background-color: #000;
}

.nav__item--active.nav__item::after {
  background-color: #000;
}

.nav__item::before {
  content: '';
  width: 1px;
  height: 16px;
  background-color: #D6D6D6;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  vertical-align: middle;
  margin-right: 0;
}

.nav__item:last-child::after {
  content: '';
  width: 1px;
  height: 16px;
  background-color: #D6D6D6;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  vertical-align: middle;
  margin-right: 0;
}

.nav__icon {
  margin-right: 12px;
  fill: inherit;
  stroke: inherit;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb--block {
  padding: 32px 0;
  background-color: inherit;
}

.breadcrumb__text {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #828282;
}

.breadcrumb__text::after {
  content: '/';
  color: #828282;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumb__text:last-child::after {
  display: none;
}

.articles__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.articles__title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}

.articles > .container:first-child {
  padding: 0;
}

.articles__view {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.articles__block {
  margin-bottom: 32px;
}

.articles__cards {
  margin-right: -30px;
  margin-left: -30px;
  margin-bottom: 70px;
}

.articles__card {
  margin-bottom: 32px;
}

.articles__more {
  margin-bottom: 30px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__text {
  margin-right: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
}

.navigation__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #fff;
}

.navigation__arrow {
  height: 10px;
}

.navigation__page {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #F7F7F7;
  border-radius: 8px;
  font-size: 16px;
  line-height: 32px;
  margin-right: 16px;
  padding-top: 4px;
  text-decoration: none;
  color: #000;
}

.navigation__page:last-child {
  margin-right: 0;
}

.navigation__page--active {
  background-color: #000;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.filters__item {
  border: none;
  background-color: #fff;
  margin-right: 24px;
  padding: 10px 0;
}

.filters__item:last-child {
  margin-right: 0;
}

.filters__icon {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

.filters__arrow {
  width: 12px;
  height: 10px;
  margin-left: 8px;
}

.filters__choose {
  margin-bottom: 16px;
}

.filters__mobile {
  display: none;
  background: #F7F7F7;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 7px;
  font-size: 12px;
  line-height: 40px;
  border: none;
  width: 100%;
  margin: 0;
}

.filters__mobile > .filters__icon {
  margin-right: 8px;
}

.filters__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters__active-item {
  padding: 10px 24px;
  margin-right: 8px;
  background: #F7F7F7;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters__active-item:last-child {
  margin-right: 0;
}

.filters__active-text {
  font-size: 14px;
}

.filters__delete {
  border: none;
  padding: 0;
  background-color: inherit;
}

.filters .cross {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.view__mobile {
  display: none;
}

.view__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view__left-text {
  margin-right: 10px;
  font-size: 14px;
  line-height: 48px;
}

.view__dropdown {
  border: none;
  background-color: #fff;
  font-size: 14px;
  line-height: 48px;
}

.view__dropdown-icon {
  width: 12px;
  height: 10px;
  margin-left: 8px;
}

.view__sort {
  margin-right: 16px;
  text-decoration: none;
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 48px;
}

.view__icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.view__show {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border: none;
  border-radius: 8px;
  fill: #000;
  stroke: #000;
  background-color: #fff;
}

.view__show--active {
  fill: #fff;
  stroke: #fff;
  background-color: #000;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.view__edit {
  padding: 0;
  border: none;
  background-color: #fff;
  margin-left: 32px;
  margin-right: 16px;
}

.view__edit-text {
  font-size: 16px;
  line-height: 48px;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more__button {
  padding: 0 32px;
  background-color: #fff;
  border: 1px solid #D6D6D6;
  border-radius: 16px;
  font-size: 16px;
  line-height: 40px;
  font-weight: normal;
}

.more__show {
  color: #000;
  font-size: 16px;
  line-height: 40px;
  border: none;
  background-color: #fff;
}

.more__arrow {
  width: 12px;
  height: 10px;
  margin-left: 8px;
}

.more__hidden {
  opacity: 0;
}

.card {
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.card__favorites-icon {
  stroke: #fff;
  fill: none;
}

.card__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__hover-text {
  display: none;
  font-size: 14px;
  line-height: 16px;
}

.card__id {
  margin-left: auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}

.card__image {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__text {
  padding: 24px;
}

.card__title {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 8px;
}

.card__author {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 16px;
}

.card__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  margin-bottom: 24px;
}

.card__data {
  color: #828282;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}

.card__info {
  margin-bottom: 24px;
}

.card__button {
  position: relative;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  text-align: center;
  background-color: #F7F7F7;
}

.card__button:last-child {
  margin-right: 0;
}

.card__button-dots {
  margin-left: auto;
  margin-right: 0;
}

.card__button-favorites {
  margin-right: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #000;
  opacity: 0.3;
  z-index: 10;
}

.card__button-favorites:hover {
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  border: 1px solid #D6D6D6;
  background-color: #fff;
  opacity: 1;
}

.card__button-favorites:hover .card__favorites-icon {
  stroke: #F6AC29;
}

.card__button-favorites--active {
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  border: 1px solid #D6D6D6;
  background-color: #fff;
  opacity: 1;
}

.card__button-favorites--active .card__favorites-icon {
  stroke: #F6AC29;
  fill: #F6AC29;
}

.card__button-checkbox {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: #000000;
  opacity: 0.3;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card__button-checkbox:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  opacity: 1;
  width: 121px;
}

.card__button-checkbox:hover .card__checkbox-active {
  margin-right: auto;
  border-color: #000;
}

.card__button-checkbox:hover .card__hover-text {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  display: inline-block;
  margin-left: 24px;
}

.card__checkbox {
  display: none;
}

.card__checkbox-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 12px;
  width: 16px;
  height: 16px;
  border: 2px solid #FFFFFF;
  opacity: 1;
  border-radius: 4px;
  left: 12px;
  shadow-opacity: 1;
}

.card__checkbox-check {
  position: absolute;
  top: 2px;
  display: none;
}

.card__checkbox:checked + .card__button-checkbox {
  opacity: 1;
  background-color: #fff;
}

.card__checkbox:checked + .card__button-checkbox .card__checkbox-check {
  display: block;
}

.card__checkbox:checked + .card__button-checkbox .card__checkbox-active {
  -webkit-transform: 0.2 linear;
          transform: 0.2 linear;
  border-color: #000;
  background-color: #000;
}

.card__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.card__section-text {
  margin-right: 8px;
  font-size: 16px;
  line-height: 24px;
}

.articles {
  margin-right: 8px;
}

.container {
  max-width: 1600px;
}

@media (min-width: 1501px) {
  .col-xxl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 1700px) {
  .container {
    max-width: 1360px;
  }
  .header-main {
    padding: 24px 0;
  }
  .header-main__description {
    width: 200px;
  }
  .search-form {
    width: 402px;
  }
  .button-favorites {
    margin-right: 25px;
  }
  .nav__link {
    padding: 8px 24px;
  }
  .breadcrumb--block {
    padding: 25px 0;
  }
}

@media (max-width: 1500px) {
  .container {
    max-width: 880px;
  }
  .header-top {
    padding: 5.5px 0;
  }
  .header-top__phone-block {
    margin-right: 30px;
  }
  .header-main {
    padding: 15px 0;
  }
  .header-main__description {
    margin-right: 54px;
  }
  .header-main__search {
    margin-right: 10px;
  }
  .button-history {
    margin-right: 10px;
  }
  .button-favorites {
    margin-right: 10px;
  }
  .search-form {
    width: 56px;
  }
  .search__input {
    display: none;
  }
  .search__button {
    border-radius: 16px;
  }
  .author__photo {
    margin-right: 10px;
  }
  .author__text {
    display: none;
  }
  .nav__item {
    height: 75px;
  }
  .nav__item::before {
    display: none;
  }
  .nav__item::after {
    display: none;
  }
  .nav__item:last-child .nav__link {
    padding: 13px 13px;
  }
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px 20px;
    font-size: 14px;
    line-height: 14px;
  }
  .nav__icon {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .articles__title {
    font-size: 35px;
    line-height: 56px;
    margin-bottom: 0;
  }
  .articles__navigation {
    margin-bottom: 25px;
  }
  .articles__block {
    margin-bottom: 25px;
  }
  .view__sort {
    font-size: 14px;
    line-height: 48px;
  }
  .view__show {
    margin-right: 0;
  }
  .view__edit {
    margin-left: 20px;
  }
  .view__edit-text {
    font-size: 14px;
    line-height: 48px;
  }
  .card__image {
    height: 180px;
  }
  .card__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .card__author {
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 8px;
  }
  .card__description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }
  .card__data {
    font-size: 14px;
    line-height: 32px;
  }
  .card__info {
    margin-bottom: 15px;
  }
  .card__section-text {
    font-size: 14px;
  }
  .card__id {
    font-size: 14px;
  }
  .card__section {
    margin-bottom: 12px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 690px;
  }
  .header-top {
    padding-top: 9px;
    padding-bottom: 8px;
    line-height: 16px;
  }
  .header-top__text::after {
    display: none;
  }
  .header-top__phone-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-top__eye {
    width: 134px;
  }
  .header-main__description {
    display: none;
  }
  .header__logo {
    margin-right: 90px;
  }
  .nav__link {
    padding: 12px 12px;
  }
  .nav__item:last-child > .nav__link {
    text-align: center;
    width: 74px;
    padding-bottom: 7px;
  }
  .nav__item:last-child .nav__icon {
    margin-bottom: 3px;
  }
  .navigation__text {
    display: none;
  }
  .navigation__button {
    display: none;
  }
  .filters__choose {
    margin-bottom: 5px;
  }
  .view__show:nth-child(2) {
    display: none;
  }
  .view__edit {
    margin-left: 30px;
  }
  .view__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .view__sort {
    display: none;
  }
  .view__icon {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 260px;
  }
  .header-top {
    display: none;
  }
  .header-main {
    padding: 17px 0 0 0;
  }
  .header-main__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-main__info {
    display: none;
  }
  .header__logo {
    margin-right: 0;
  }
  .author {
    display: none;
  }
  .logo {
    width: 232px;
    height: 43px;
  }
  .nav {
    display: none;
  }
  .breadcrumb--block {
    padding: 11px 0;
  }
  .breadcrumb__text {
    font-size: 10px;
    line-height: 24px;
  }
  .navigation {
    display: none;
  }
  .articles__title {
    font-size: 25px;
    line-height: 30px;
  }
  .articles__navigation {
    margin-bottom: 15px;
  }
  .articles__filter {
    margin-bottom: 15px;
  }
  .articles__block {
    margin-bottom: 15px;
  }
  .articles__view {
    margin-bottom: 15px;
  }
  .articles__cards {
    margin-bottom: 15px;
  }
  .articles__card {
    margin-bottom: 10px;
  }
  .filters__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filters__text {
    margin-right: auto;
  }
  .filters__arrow--right {
    display: inline-block;
  }
  .filters__choose {
    display: none;
  }
  .filters__active {
    display: none;
  }
  .view__left {
    display: none;
  }
  .view__show {
    display: none;
  }
  .view__edit {
    margin-left: 0;
  }
  .card__image {
    height: 130px;
  }
  .card__text {
    padding: 20px 24px;
  }
  .card__section {
    margin-bottom: 5px;
  }
  .card__title {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
  }
  .card__author {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 8px;
  }
  .card__description {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 5px;
  }
  .card__data {
    font-size: 8px;
    line-height: 10px;
  }
  .card__info {
    margin-bottom: 15px;
  }
  .card__section-text {
    font-size: 12px;
    line-height: 15px;
  }
  .card__id {
    font-size: 12px;
    line-height: 15px;
    color: #000;
  }
  .card__button {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .card__favorites-icon {
    stroke: #000;
    width: 16px;
    height: 16px;
  }
  .card__button-favorites {
    position: static;
    background-color: #F7F7F7;
    opacity: 1;
  }
  .card__button-checkbox {
    position: static;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    margin-right: 10px;
    border: 1px solid #D6D6D6;
    background-color: #fff;
  }
  .card__checkbox-active {
    position: static;
    border-color: #000;
    margin-left: 6px;
  }
  .download {
    width: 16px;
    height: 16px;
  }
  .share {
    width: 16px;
    height: 16px;
  }
  .dots {
    width: 16px;
    height: 16px;
  }
  .share {
    width: 16px;
    height: 16px;
  }
}
