.container
  max-width: 1600px

@media (max-width: 1700px)
  .container
    max-width: 1360px
  .header
    &-main
      padding: 24px 0
      &__description
        width: 200px
  .search
    &-form
      width: 402px
  .button
    &-favorites
      margin-right: 25px
  .nav
    &__link
      padding: 8px 24px
  .breadcrumb
    &--block
      padding: 25px 0
  .navigation
    &__page
      &-down
        margin-right: 7px
  .popup
    &-dialog
      &-download
        width: 902px

@media ( min-width:  1501px)
  .col-xxl-3
    flex: 0 0 25%
    max-width: 25%
@media (max-width: 1500px)
  .container
    max-width: 880px
  .header
    &-top
      padding: 5.5px 0
      &__phone
        &-block
          margin-right: 30px
    &-main
      padding: 15px 0
      &__description
        margin-right: 54px
      &__search
        margin-right: 10px
  .button
    &-history
      margin-right: 10px
    &-favorites
      margin-right: 10px
  .search
    &-form
      width: 56px
    &__input
      display: none
    &__button
      border-radius: 16px
  .author
    &__photo
      margin-right: 10px
    &__text
      display: none
  .nav
    &__item
      height: 75px
      &::before
        display: none
      &::after
        display: none
      &:last-child
        .nav
          &__link
            padding: 13px 13px
    &__link
      display: flex
      flex-direction: column
      align-items: center
      padding: 13px 20px
      font-size: 14px
      line-height: 14px
    &__icon
      margin-right: 0
      margin-bottom: 12px
  .articles
    &__title
      font-size: 35px
      line-height: 56px
      margin-bottom: 0
    &__navigation
      margin-bottom: 25px
    &__block
      margin-bottom: 25px
  .view
    &__sort
      font-size: 14px
      line-height: 48px
    &__show
      margin-right: 0
    &__edit
      margin-left: 20px
      &-text
        font-size: 14px
        line-height: 48px
  .card
    &__image
      height: 180px
    &__title
      font-size: 16px
      line-height: 20px
      margin-bottom: 8px
    &__author
      font-size: 14px
      line-height: 32px
      margin-bottom: 8px
    &__description
      font-size: 14px
      line-height: 20px
      margin-bottom: 12px
    &__data
      font-size: 14px
      line-height: 32px
    &__info
      margin-bottom: 15px
    &__section
      &-text
        font-size: 14px
    &__id
      font-size: 14px
    &__section
      margin-bottom: 12px
  .navigation
    &__page
      &-down
        &:nth-child( n+18 )
          display: none
  .footer
    padding-bottom: 48px
    &__description
      max-width: 421px
    &__logo
      width: 226px
      height: 41px
    &__copyright
      display: flex
      align-items: center
      &-text
        max-width: 104px
  // МОДАЛЬНЫЕ ОКНА
  .popup
    &-dialog
      &-info
        width: 882px
        height: 852px
      &-download
        width: 880px
    &-info
      &__row
        font-size: 14px
        padding-bottom: 5px
        margin-bottom: 5px
      &__head
        &-editor
          width: 207px
        &-date
          width: 132px
      &__editor
        width: 207px
      &__datet
        width: 132px
      &__name, &__data
        font-size: 14px
        line-height: 32px
      &__table
        &-head
          font-size: 14px
        &-list
          &-history
            height: 180px
@media (max-width: 991px)
  .container
    max-width: 690px
  .header
    &-top
      padding-top: 9px
      padding-bottom: 8px
      line-height: 16px
      &__text
        &::after
          display: none
      &__phone
        &-text
          flex-direction: column
      &__eye
        width: 134px
    &-main
      &__description
        display: none
    &__logo
      margin-right: 90px
  .nav
    &__link
      padding: 12px 12px
    &__item:last-child
      &>.nav__link
        text-align: center
        width: 74px
        padding-bottom: 7px
      & .nav__icon
        margin-bottom: 3px
  .navigation
    &__text
      display: none
    &__button
      display: none
    &__page
      &-down
        &:nth-child(n + 13)
          display: none
          margin-right: 10px
  .filters
    &__choose
      margin-bottom: 5px
  .view
    &__show
      &:nth-child(2)
        display: none
    &__edit
      margin-left: 30px
    &__mobile
      display: flex
    &__sort
      display: none
    &__icon
      margin-right: 10px
  .footer
    padding-bottom: 29px
    &__description
      max-width: 220px
  // МОДАЛЬНЫЕ ОКНА
  .popup
    &-dialog
      &-info
        width: 686px
        height: 852px
      &-download
        width: 690px
    &-info
      &__head
        &-editor
          width: 177px
        &-date
          width: 112px
        &-field
          width: 89px
      &__editor
        width: 177px
      &__datet
        width: 112px
      &__field
        width: 89px
    &-download
      &__mobile
        &-hidden
          display: none

@media (max-width: 767px)
  .container
    max-width: 260px
  .header
    &-top
      display: none
    &-main
      padding: 17px 0 0 0
      &__wrapper
        justify-content: center
      &__info
        display: none
    &__logo
      margin-right: 0
  .author
    display: none
  .logo
    width: 232px
    height: 43px
  .nav
    display: none
  .breadcrumb
    &--block
      padding: 11px 0
    &__text
      font-size: 10px
      line-height: 24px
  .navigation
    display: none
    &__pages
      &-down
        display: flex
        flex-wrap: wrap
        justify-content: center
    &__page
      &-down
        margin-right: 4px
        margin-bottom: 5px
    &__button
      &-down
        display: none
  .articles
    padding-bottom: 15px
    &__title
      font-size: 25px
      line-height: 30px
    &__navigation
      display: flex
      margin-bottom: 10px
    &__filter
      margin-bottom: 15px
    &__block
      margin-bottom: 15px
    &__view
      margin-bottom: 15px
    &__cards
      margin-bottom: 15px
    &__card
      margin-bottom: 10px
    &__more
      flex-direction: column
  .more
    &__button
      transform: translateX(0)
      width: 100%
    &__show
      display: none
  .filters
    &__mobile
      display: flex
      align-items: center
      justify-content: space-between
    &__text
      margin-right: auto
    &__arrow
      &--right
        display: inline-block
    &__choose
      display: none
    &__active
      display: none
  .view
    &__left
      display: none
    &__show
      display: none
    &__edit
      margin-left: 0
  .card
    &__image
      height: 130px
    &__text
      padding: 20px 24px
    &__section
      margin-bottom: 5px
    &__title
      font-size: 12px
      line-height: 15px
      margin-bottom: 8px
    &__author
      font-size: 8px
      line-height: 10px
      margin-bottom: 8px
    &__description
      font-size: 8px
      line-height: 10px
      margin-bottom: 5px
    &__data
      font-size: 8px
      line-height: 10px
    &__info
      margin-bottom: 15px
    &__section
      &-text
        font-size: 12px
        line-height: 15px
    &__id
      font-size: 12px
      line-height: 15px
      color: #000
    &__button
      width: 30px
      height: 30px
      margin-right: 10px
    &__favorites-icon
      stroke: #000
      width: 16px
      height: 16px
    &__button
      &-favorites
        position: static
        background-color: #F7F7F7
        opacity: 1
    &__button
      &-checkbox
        position: static
        width: 30px
        height: 30px
        margin-bottom: 0
        margin-right: 10px
        opacity: 1
        border: 1px solid #D6D6D6
        background-color: #fff
    &__checkbox
      &-active
        position: static
        border-color: #d6d6d6
        margin-left: 6px
  .public
    &-link
      width: 16px
      height: 16px
  .download
    width: 16px
    height: 16px
  .share
    width: 16px
    height: 16px
  .dots
    width: 16px
    height: 16px
  .share
    width: 16px
    height: 16px
  .footer
    padding-top: 20px
    padding-bottom: 50px
    &__fullname
      margin-top: 20px
      font-weight: 300
      font-size: 10px
      line-height: 12px
    &__logo
      margin-bottom: 20px
    &__description
      margin-left: 0
      margin-bottom: 20px
  // МОДАЛЬНЫЕ ОКНА
  .popup
    &-dialog
      overflow: scroll
      width: 100%
      height: 100%
      border: none
      border-radius: 0
      &-info
        padding: 26px 30px 27px 30px
      &-download
        padding: 30px
    &-info
      &__icon
        &-copy
          vertical-align:
      &__mobile
        &-table
          display: block
      &__name
        font-size: 12px
        line-height: 18px
      &__data
        display: flex
        align-items: center
        font-size: 12px
        line-height: 18px
        margin-bottom: 8px
      &__title
        margin-bottom: 20px
        font-weight: 600
        font-size: 18px
        line-height: 22px
      &__subtitle
        font-size: 18px
        line-height: 22px
        margin-bottom: 10px
      &__button
        width: 100%
        margin: 0
        font-size: 14px
        line-height: 32px
      &__head
        &-editor
          width: 177px
        &-date
          width: 112px
        &-field
          width: 89px
      &__editor
        width: 177px
      &__datet
        width: 112px
      &__field
        width: 89px
      &__close-btn
        background-color: #fff
        border: 1px solid #D6D6D6
        top: 33px
        right: 29px
      &__content
        &-table
          margin-bottom: 20px
          &:nth-child(5)
            display: none
    &-download
      &__menu
        &-view
          font-size: 12px
          line-height: 24px
          width: 111px
          height: 30px
          border-radius: 500px
          padding: 3px 14px
          margin-right: 8px
          &-text
            display: block
          &-icon
            margin-right: 8px
      &__item
        padding: 15px 0
      &__download
        font-size: 12px
        line-height: 24px
        padding: 3px 14px
      &__title
        font-weight: 600
        font-size: 18px
        line-height: 22px
        padding-bottom: 30px
      &__list
        margin-bottom: 15px
      &__info
        margin-bottom: 6px
        &-name
          font-size: 12px
          line-height: 18px
        &-type
          font-size: 12px
          line-height: 18px

  tr
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 5px
@media (max-width: 360px)
  .popup
    &-info
      &__title
        width: 250px
