.popup
  overflow: auto
  visibility: hidden
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  background-color: rgba(0, 0, 0, 0.15)
  z-index: 9999
  &-dialog
    position: relative
    overflow: auto
    background-color: #fff
    border: 1px solid #D6D6D6
    box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.1)
    border-radius: 16px
    &-info
      width: 984px
      height: 892px
      padding: 40px
    &-download
      width: 1120px
      height: 572px
      padding: 32px
    &-registration
      width: 1341px
      height: 760px
      display: flex
      overflow: auto
      border: none
    &-reg-success
      width: 1106px
      height: 612px
      padding: 64px 116px
      display: flex
      flex-direction: column
      align-items: center
    &-entry
      display: flex
      overflow: auto
      border: none
      width: 1181px
      height: 640px
    &-search
      position: relative
      padding-top: 64px
      width: 1232px
      height: 100%
      border: none
      border-radius: 0
  &-info
    &__copy
      &-icon
        width: 100%
        height: 100%
        vertical-align: sub
      &-button
        margin-right: 10px
        padding: 0
        width: 24px
        height: 24px
        border: none
        background-color: #fff

    &__blocks
      padding-bottom: 15px
      padding-top: 15px
      position: relative
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 1px
        background-color: #D6D6D6
    &__button
      font-weight: normal
      font-size: 16px
      line-height: 40px
      padding-left: 32px
      padding-right: 32px
      color: #000
      border: 1px solid #D6D6D6
      border-radius: 16px
      background-color: #fff
      position: relative
      left: 50%
      transform: translateX(-50%)
    &__row
      width: 100%
      font-weight: 300
      font-size: 16px
      line-height: 32px
      padding-bottom: 8px
      display: inline-block
    &__head
      &-editor
        font-weight: inherit
        width: 250px
        padding-bottom: 9px
      &-date
        font-weight: inherit
        width: 142px
        padding-bottom: 9px
      &-field
        font-weight: inherit
        width: 109px
        padding-bottom: 9px
      &-info
        font-weight: inherit
        padding-bottom: 9px
    &__content
      &-table
        margin-bottom: 30px
    &__table
      &-head
        width: 100%
      &-head
        font-family: Inter
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 32px
      &-list
        width: 100%
        display: flex
        flex-direction: column
        &-history
          width: 100%
          height: 204px
    &__mobile
      &-editor, &-date, &-field, &-datas
        font-size: 12px
        line-height: 18px
        font-weight: normal
        color: #828282
        margin-bottom: 5px
        &-data
          color: #000
      &-date
        color: #000
      &-datas
        &-data
          display: block
          padding-top: 5px
      &-table
        display: none
        margin-bottom: 25px
    &__editor
      width: 250px
    &__datet
      width: 142px
    &__field
      width: 109px
    &__data
      text-align: right
      font-size: 16px
      line-height: 32px
      color: #000
    &__name
      font-size: 16px
      line-height: 32px
      color: #828282
    &__title
      margin-bottom: 30px
      font-family: Montserrat
      font-style: normal
      font-weight: 600
      font-size: 32px
      line-height: 48px
    &__subtitle
      font-family: Montserrat
      font-style: normal
      font-weight: 600
      font-size: 24px
      line-height: 32px
      margin-bottom: 30px
    &__close
      &-btn
        border: none
        background-color: #E0E0E0
        width: 32px
        height: 32px
        border-radius: 50%
        position: absolute
        top: 48px
        right: 40px
        display: flex
        align-items: center
        justify-content: center
  &-download
    &__copy
      border: none
      background-color: #fff
      padding: 0
    &__close
      padding: 0
      border: none
      width: 30px
      height: 30px
      border: 1px solid #D6D6D6
      background-color: #fff
      border-radius: 50%
      position: absolute
      top: 26px
      right: 30px
    &__down
      display: flex
      flex-direction: column
      &-up
        margin-bottom: 22px
    &__open
      font-weight: normal
      font-size: 16px
      line-height: 24px
      padding: 8px 24px
      background-color: #fff
      border: 1px solid #D6D6D6
      border-radius: 100px
      margin-right: 16px
    &__list
      height: 316px
      width: 100%
      overflow-y: auto
      position: relative
      margin-bottom: 24px
      &::after
        content: ''
        height: 1px
        width: 100%
        position: absolute
        bottom: 0
        background-color: #D6D6D6
    &__item
      position: relative
      padding: 20px 0
      display: flex
      align-items: center
      flex-wrap: wrap
      &::after
        content: ''
        height: 1px
        width: 100%
        position: absolute
        bottom: 0
        background-color: #D6D6D6
      &:last-child
        &::after
          display: none
    &__info
      &-name
        font-size: 16px
        line-height: 32px
      &-type
        color: #828282
        font-weight: normal
        font-size: 16px
        line-height: 32px
    &__download
      font-weight: normal
      font-size: 16px
      line-height: 32px
      padding: 8px 24px
      background: #000000
      border-radius: 100px
      border: none
      color: #fff
      &-all
        margin-right: 16px
    &__text
      font-weight: 300
      font-size: 18px
      line-height: 32px
      color: #828282
      &-link
        font-size: 16px
        line-height: 32px
        display: inline-block
        margin-right: 8px
    &__menu
      margin-right: 0
      margin-left: auto
      display: flex
      align-items: center
      &-view
        width: 40px
        height: 40px
        background: #FFFFFF
        border: 1px solid #D6D6D6
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        margin-right: 16px
        &-text
          display: none
    &__wrapper
      display: flex
      align-items: center
    &__icon
      align-self: flex-start
      margin-right: 8px
    &__title
      position: relative
      font-weight: normal
      font-size: 16px
      line-height: 32px
      padding-bottom: 24px
      margin: 0
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        background-color: #D6D6D6
        height: 1px
        width: 100%
    &__menu
      &-view
        &-icon
          width: 24px
          height: 24px
    &__icon
      width: 24px
      height: 24px
      stroke: #000
      &-share
        align-self: center
        margin-right: 8px
      &-download
        margin-right: 8px
        stroke: #fff
      &-copy
        margin-right: 0
      &-close
        width: 10px
        height: 10px
        margin-right: 0
        margin-top: -4px
  &-registration
    &__logo
      margin-left: 0
      margin-bottom: 10px
    &__background
      object-fit: cover
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      height: 100%
      filter: blur(30px)
    &__left
      position: relative
      width: 537px
      height: 100%
      overflow: hidden
      padding-left: 99px
      padding-right: 99px
      display: flex
      align-items: center
      justify-content: center
    &__text
      position: relative
      z-index: 100
      &-social
        margin-bottom: 16px
        color: #828282
        font-weight: normal
        font-size: 16px
        line-height: 32px
    &__social
      width: 204px
      height: 48px
    &__description
      font-family: Lato
      font-style: normal
      font-weight: bold
      font-size: 14px
      line-height: 14px
      width: 269px
      margin-left: 65px
    &__right
      width: 804px
      padding: 60px
      min-height: 600px
    &__title
      font-family: Montserrat
      font-style: normal
      font-weight: 600
      font-size: 32px
      line-height: 48px
      margin-bottom: 25px
    &__close
      position: absolute
      top: 68px
      right: 60px
      background-color: #E0E0E0
      display: flex
      align-items: center
      justify-content: center
    &__form
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin-bottom: 32px
  &-reg-success
    &__btn
      &-close
        display: none
        width: 30px
        height: 30px
        background-color: #FFFFFF
        border: 1px solid #D6D6D6 !important
        border-radius: 100px
        position: absolute
        top: 26px
        right: 29px
    &__title
      display: none
      font-family: Montserrat
      font-style: normal
      font-weight: 600
      font-size: 18px
      line-height: 22px
      margin-bottom: 72px
    &__close
      font-weight: 500
      font-size: 16px
      line-height: 40px
      padding: 8px 32px
      background-color: #fff
      border: 1px solid #D6D6D6
      border-radius: 16px
    &__icon
      width: 24px
      height: 24px
      margin-right: 16px
      &s
        width: 40px
        height: 40px
        background-color: #000
        border-radius: 16px
        stroke: #fff
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 16px
    &__logo
      display: inline-block
      width: 231px
      height: 31px
    &__advantages
      width: 100%
      margin-bottom: 72px
      display: flex
      justify-content: space-between
      &-item
        position: relative
        width: 246px
        display: flex
        flex-direction: column
        align-items: center
        &::before
          content: ''
          width: 1px
          height: 32px
          background-color: #D6D6D6
          position: absolute
          top: 35px
          right: -29px
        &:last-child
          &::before
            display: none
      &-text
        text-align: center
        font-family: Montserrat
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 24px
    &__text
      &-success
        font-family: Montserrat
        font-style: normal
        font-weight: 500
        font-size: 22px
        line-height: 32px
        margin-bottom: 32px
      &-welcome
        font-family: Montserrat
        font-style: normal
        font-weight: 600
        font-size: 40px
        line-height: 56px
        margin-bottom: 72px
        text-align: center
  &-entry
    &__close
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 68px
      right: 60px
    &__title
      margin-bottom: 32px
  &-search
    visibility: visible
    &__form
      width: 100%
      margin-bottom: 36px
    &__input
      background-color: #FFFFFF
      box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1)
      border: 2px solid rgba(0, 0, 0, 0.1)
      border-radius: 8px
      padding: 20px 30px 20px 58px
      font-weight: normal
      &::placeholder
        color: #828282
        font-size: 16px
        line-height: 40px
      &:focus
        font-weight: normal
        font-size: 16px
        line-height: 40px
        color: #828282
    &__magnifier
      position: absolute
      top: 18px
      left: 24px
      stroke: #000
    & .icon
      margin-bottom: 8px
    & .nav
      &__link
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 16px 32px
      &__text
        font-weight: normal
        font-size: 16px
        line-height: 24px
      &__item
        height: 88px
.form
  &-label
    margin-bottom: 16px
    font-family: Inter
    font-weight: normal
    font-size: 16px
    line-height: 32px
  &-input
    padding: 16px 24px
    background-color: #FFFFFF
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1)
    border-radius: 16px
    border: 2px solid rgba(0, 0, 0, 0.1)
    outline: none
    &::placeholder
      font-weight: normal
      font-size: 16px
      line-height: 24px
    &:focus
      font-weight: normal
      font-size: 16px
      line-height: 24px
  &__wrapper
    display: flex
    flex-direction: column
    flex-basis: 49%
    margin-bottom: 16px
    &-email
      flex-basis: 100%
    &-name
      width: 334px

    &-lastname
      width: 334px
    &-password
      width: 334px
    &-replay
      width: 334px
    &-entry
      flex-basis: 100%
  &__btn
    &-send
      font-weight: 500
      font-size: 16px
      line-height: 40px
      background: #000000
      border-radius: 16px
      border: none
      color: #fff
      padding: 8px 32px
      margin-top: 16px

.close
  &-btn
    border: none
    border-radius: 50%
    width: 32px
    height: 32px

tr
  margin-bottom: 8px
  border-bottom: 1px solid #D6D6D6
  display: flex
  align-items: center
  justify-content: space-between
thead>tr
  display: block
.image
  &-social
    width: 194px
    height: 26px
    margin-right: 5px

.search
  background-color: #fff
  &__title
    font-family: Montserrat
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 22px
    margin-bottom: 24px
    display: none
  &__close
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 64px
    right: -120px
  &__list
    justify-content: space-between
  &__nav
    margin-bottom: 36px
  & .filters
    &__icon
      margin-right: 16px
    &__item
      padding: 8px 0
      margin-right: 16px
    &__active
      &-item
        margin-bottom: 8px
        border: none
    &-active
      display: flex
      flex-wrap: wrap
      margin-bottom: 36px
    &__title
      font-weight: 500
      font-size: 18px
      line-height: 32px
      flex-basis: 100%
      margin-bottom: 16px
  &__line
    border-top-color: #D6D6D6
    margin-top: 36px
    margin-bottom: 36px
.tags
  &__title
    font-weight: 500
    font-size: 18px
    line-height: 32px
    margin-bottom: 10px
  &__elem
    font-weight: 300
    font-size: 18px
    line-height: 32px
    color: #000
    display: inline-block
    margin-right: 16px
